<p>
  <b>Gorganism:</b>
  <%=h @dragon.gOrganism %>
</p>

<p>
  <b>Name:</b>
  <%=h @dragon.name %>
</p>

<p>
  <b>Sex:</b>
  <%=h @dragon.sex %>
</p>

<p>
  <b>Alleles:</b>
  <%=h @dragon.alleles %>
</p>

<p>
  <b>Imageurl:</b>
  <%=h @dragon.imageURL %>
</p>

<p>
  <b>Characteristics:</b>
  <%=h @dragon.characteristics %>
</p>

<p>
  <b>Metainfo:</b>
  <%=h @dragon.metaInfo %>
</p>

<p>
  <b>Mother:</b>
  <%=h @dragon.mother_id %>
</p>

<p>
  <b>Father:</b>
  <%=h @dragon.father_id %>
</p>

<p>
  <b>Bred:</b>
  <%=h @dragon.bred %>
</p>


<%= link_to 'Edit', edit_dragon_path(@dragon) %> |
<%= link_to 'Back', dragons_path %>